<% content_for :scripts do %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA2JyV4NvfnL8cTI3jzjv8VoBHrmI5qN3s&sensor=true"> </script>
  <script>
    $(document).ready(function () {
      function gradeToIcon(grade) {
        function gradeToIconName(grade) {
          console.log('gti ' + grade);
          if (grade === 'A') {
            return 'green_MarkerA.png'
          }
          if (grade === 'B') {
            return 'yellow_MarkerB.png'
          }
          if (grade === 'C') {
            return 'orange_MarkerC.png'
          }
          if (grade === 'D') {
            return 'red_MarkerD.png'
          }
          if (grade === 'F') {
            return 'brown_MarkerF.png'
          }
        }
        return 'images/' + gradeToIconName(grade);
      }
      var myOptions = {
        center: new google.maps.LatLng(37.055177,-120.454102),
        zoom: 5,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      var schools = <%= @schools.to_json.html_safe %>;
      var i;
      for (i = 0; i < schools.length; i++) {
        var school = schools[i];
        var marker = new google.maps.Marker({
          map: map,
          position: new google.maps.LatLng(school['latitude'], school['longitude']),
          // Stole icons from:
          // http://www.benjaminkeen.com/?p=105
          title: school['name'],
          icon: gradeToIcon(school['grade']),
        });
        function showOnClick(marker, school) {
          google.maps.event.addListener(marker, 'click', function() {
              console.log('school ' + school['id']);
            window.location = '/schools/' + school['id'];
          });
        }
        showOnClick(marker, school);
      }

    })
  </script>
<% end %>

<div style="width:500px; height:500px">
  <div id="map_canvas" style="width:100%; height:100%"></div>
</div>

