// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#info {
  float: right;
  width: 45%;
  height: 80%;
  padding: 0.2em;
  .header {
    color: blue;
    font-size: 2em;
    font-weight: bold;
  }
  span.fit_grade {
    font-size: 2.2em;
    font-weight: bold;
  }
  span.fit_grade_A { color: red; }
  span.fit_grade_B { color: #FF0; }
  span.fit_grade_C { color: yellow; }
  span.fit_grade_D { color: red; }
  span.fit_grade_F { color: black; }
}


#map_canvas {
  float: left;
  width: 50%;
  height: 80%;
}

#top_ten_in_district {
  float: right;
}

#graph {
  width: 300px;
  height: 200px;
  float: left;
}
