<% content_for :scripts do %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA2JyV4NvfnL8cTI3jzjv8VoBHrmI5qN3s&sensor=true"> </script>
<% end %>

<div style="width:500px; height:500px">
  <div id="map_canvas" style="width:100%; height:100%"></div>
</div>


